.app-header_head
{
    display: flex;
    height: 180px;
    border-bottom: thin lightgrey solid;
    text-align: right;
}
.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
    text-align: right
}
.mutant_logo {
     text-align: left;
     width: 50%;
     justify-content: center
}
.mutant_logo_image {
     margin-left: 20px;
     margin-bottom: 30px;
     margin-top: 30px;
     height: 120px
}
.vsi_TU_logo{
    text-align: right;
    width: 50%;
}
.vsi_logo_image {
    height: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.TU_logo_image {
    height: 60px;
    margin-bottom: 30px;
    margin-top: 90px;
}
.group_assessment_groups_dropdown_div{
    position: relative;
    z-index: 999;

}
.simulation_filter_criteria_dropdown_multiple_selection
{
    width: 90%;
}
.big_container
{
    width: auto;
    height: auto;
    position: relative;
}
.body_configuration
{
    display: flex;
}
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

.mutant_implementation_p
{
    width: 25%;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}
.header_blank
{
    width:80%
}
.blank_space
{
    width:0%;
}
.header_parent
{
    margin-right: 10px;
    width: 15%;
}
.global_configuration
{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    width: 22%;
}
.to_change_size_of_value
{
    display: flex;
    width:100%;
}
.input_visualisation_maximum_class_1 {
    display: flex;
    width: 100%;

}
.input_visualisation_maximum_class_2 {
    margin-left: 20px;
}
. group_assessment_report_groups_button_class {
    margin-bottom: 0px;
    margin-top: auto;
    padding-right: 0px;
    margin-left: 0px;
    width: 10%;
}
.horizontal_line{
    margin-top: 20px;
    margin-bottom: 20px;
}
.simulation_filter_criteria_sliders_class
{
    height: 200%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.injury_criteria_part_div
{
    margin-bottom: 15px;
}

.body_graph_div
{
    display: flex;
    flex-wrap: wrap;
}
.diagram_data_graph_class
{
    width: 100%;
}
.graph_div
{
    margin-top: 15px;
}
.graph_dropdown_div
{
    width: 33%;
}
.dropdown_simulationen_div
{
    display: flex;
}
.dropdown_simulationen_selection_div
{
    display: flex;
}
.dropdown_simulation_combined
{
    width: 30%;
}
.dropdown_x
{
    width: 35%;
}
.dropdown_y
{
    width: 35%;
}
.switch_button
{
    margin: auto;
    float: right;
}
.dropdown_x_y
{
    margin-left: 5% ;
    width: 60%;
    display: flex;
}
 .dropdown_legend_selection
{
    width: 30%;
}
.criteria_data_boxplot_class
{
    width: 60%;
    padding-top: 40px;
    margin-top: 15px;
}
.criteria_data_2D_scatter_class
{
    width: 40%;
    padding-top: 40px;
    margin-top: 15px;
}
.plot_2d_part_div_dropdown
{
    width: 40%;
    padding-left: 10%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10%;
}
.boxplot_dropdown
{
    width: 40%;
    padding-left: 10%;
    margin-left:10%;
    margin-right:10%;
    padding-top: 10%;
}
.criteria_data_2D_scatter
{
    width: 100%;
}
.boxplot_part_div
{
    width: 100%;
}
.right_side_div
{
    margin-top: 20px;
    width: 78%;
    padding-left: 30px;
    border-left: 1px solid grey;
    padding-right: 20px;
    margin-left: 0px;
}
.big_container
{
    margin: 10px;
    font-family: Calibri;
}
.button
{
    margin-bottom: auto;
    margin-top: 10px;
    padding-right: auto;
    margin-left: auto;
    width: 100%;
}
.selected_simulation
{
    border: thin lightgrey solid;
}
.simulation_filter_criteria_sliders
{
    width: 250px;
}
.simulation_filter_criteria_sliders_paragraph
{
    width: 250px;
}
.simulation_filter_criteria_sliders_part_1
{
    display: none;
}
.simulation_filter_criteria_sliders_part_2
{
    margin: 15px
}
.simulation_number
{
    margin-top: 20px;
    border: thin lightgrey solid;
}
.filtered_simulation_info_list
{
    color: grey;
    font-size: 12px;
}
.filtered_simulation_info_title
{
    margin-top: 7.5px;
}